<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841652102489-3m0fkavva7q1qg5gp56gccrlhptt0gup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841652102489-3m0fkavva7q1qg5gp56gccrlhptt0gup</string>
	<key>API_KEY</key>
	<string>AIzaSyD0L9CSx3mpYkvB26rDa4EBq_Db1XB1ahc</string>
	<key>GCM_SENDER_ID</key>
	<string>841652102489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuanDoCoder.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b8356</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b8356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841652102489:ios:3d360b28a6382871599848</string>
</dict>
</plist>